<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header></header>
    <main>
      <section class="download-section__download">
        <p>ready to use solo?</p>
        <h1>Download Solo</h1>
        <p>
          By downloading Solo, you accept Terms Of Use and Privacy & Cookies.
        </p>
        <button type="button">Get Solo for iPad OS</button>
        <img src="../images/downloadimg.jpg" alt="abstract illustration" />
      </section>
      <section class="download-section__devices">
        <h2>Looking for another device?</h2>
        <ul>
          <li>
            <p>Solo for iOS</p>
            <p>Mobile App</p>
          </li>
          <li>
            <p>Solo for Mac</p>
            <p>Desktop App</p>
          </li>
          <li>
            <p>Solo for Android</p>
            <p>Mobile App</p>
          </li>
          <li>
            <p>Solo on Web</p>
            <p>Mobile App</p>
          </li>
          <li>
            <p>Solo for Windows</p>
            <p>Mobile App</p>
          </li>
        </ul>
      </section>
      <section class="download-section__reviews">
        <h2>What people are saying</h2>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
