<section class="section hero">
  <div class="container container--no-padding-right">
    <div class="hero__content">
      <p class="section__suptitle hero__suptitle">RISK-FREE 30 DAY TRIAL</p>
      <h1 class="section__title hero__title">
        The best way to organize your work.
      </h1>
      <p class="hero__text">
        Organize your tasks, lists and reminders in one app.
      </p>
      <div class="hero__buttons">
        <button class="hero__try-btn" type="button">Try it free</button>
        <button class="hero__watch-btn" type="button">
          Watch how it works
        </button>
      </div>
    </div>
  </div>
</section>
